Repository coding-test-java/problems, pull requests merged in 2024-01, with the labels that each got.

#14 박재우 / 1기 1주차 / 2문제
  parkjaewoo/AGS/Week1/boggleGame.java
  parkjaewoo/AGS/Week1/boggleGame2.java
  parkjaewoo/AGS/Week1/rockFestival.java
  problems.iml
Labels: AGS

#15 [AGS] 록 페스티벌/ 1번 / 30분
  honghuipyo/ags/week1/RockFestival.java
  problems.iml
Labels: AGS

#16 김연섭 / 1기 1주차 / 2문제
  kimyeonsup/Test.java
  kimyeonsup/algospot/Boggle.java
  kimyeonsup/algospot/Festival.java
Labels: AGS

#17 홍용준 / 1기 1주차 / 2문제
  .gitignore
  problems.iml
  yongjun/AGS/Week1/Boggle.java
  yongjun/AGS/Week1/RockFestival.java
  yongjun/AGS/Week2/CandyGame.java
Labels: AGS

#18 최동현/ 1기 1주차 / 2문제
  choidonghyeon/java/AGS/BoggleGame_Fail.java
  choidonghyeon/java/AGS/BoggleGame_Success.java
  choidonghyeon/java/AGS/RockFestival.java
Labels: AGS

#19 이상화 / 1기 1주차 / 1문제
  coding-test-java.iml
  sanghwa/AGS/Festival.java
  sanghwa/README.md
Labels: AGS

#29 최동현/ 1기 2주차 / 3문제
  choidonghyeon/java/AGS/BoardCover.java
  choidonghyeon/java/AGS/ClockSync.java
  choidonghyeon/java/AGS/Picnic.java
Labels: AGS, 온라인, 완전탐색

#28 홍용준 / 1기 2주차 / 2문제
  yongjun/AGS/Week2/AGS/BoardCover.java
  yongjun/AGS/Week2/AGS/Picnic.java
  yongjun/AGS/Week2/BOJ/CandyGame.java
Labels: AGS, 온라인, 완전탐색

#27 이상화 / 1기 2주차 / 3문제
  sanghwa/AGS/BoardCover.java
  sanghwa/AGS/ClockSync.java
  sanghwa/AGS/Picnic.java
Labels: AGS, 온라인, 완전탐색

#26 박재우 / 1기 2주차 / 2문제
  parkjaewoo/AGS/Week2/BoardCover.java
  parkjaewoo/AGS/Week2/BoardCover2.java
  parkjaewoo/AGS/Week2/ClockSync.java
  parkjaewoo/AGS/Week2/Picnic.java
Labels: AGS, 온라인, 완전탐색

#25 김연섭 / 1기 2주차 / 3문제
  kimyeonsup/algospot/BoardCover.java
  kimyeonsup/algospot/Sopung.java
  kimyeonsup/algospot/SynchronizingClocks.java
Labels: AGS, 온라인, 완전탐색

#34 [BOJ] 극장좌석 / 실버 1 / 30분
  parkjaewoo/AGS/Week3/Fence.java
  parkjaewoo/AGS/Week3/Fence2.java
  parkjaewoo/AGS/Week3/QuadTree.java
  parkjaewoo/BOJ/Week2/Q2302.java
Labels: BOJ, 오프라인

#33 김연섭 / 1기 2주차 / 오프라인
  kimyeonsup/algospot/Quadtree.java
  kimyeonsup/baekjoon/Boj_2302.java
Labels: BOJ, 오프라인

#32 홍용준 / 1기 2주차 / 오프라인
  yongjun/AGS/Week2/BOJ/TheaterSeat.java
Labels: BOJ, 오프라인

#31 홍희표 / 1기 1주차 / 오프라인
  honghuipyo/boj/week1/CandyGame.java
Labels: BOJ, 오프라인

#30 최동현/ 1기 2주차 / 1문제
  choidonghyeon/java/OFFLINE/BOJ/TheaterSeat.java
Labels: BOJ, 오프라인
